extends layout
block content
    h1= title
    if (toShow == null)
        h2 No instance to view update
    else
        - let teaid = toShow._id
        - let tea_flavour = toShow.tea_flavour
        - let tea_size = toShow.tea_size
        - let tea_cost = toShow.tea_cost

        div.row(class='mb-2')
            div.mr-1 ID is
            div #{teaid}
        - let actionid = "/resource/tea/" + teaid
        form(id='teaForm', action= actionid, method="PUT")
            div.form-group
                label.teaAttr(for='tea_flavour') tea flavour
                input#tea_flavour(type='text', name='tea_flavour', value= tea_flavour )
            div.form-group
                label.teaAttr(for='tea_size') tea size
                input#tea_size(type='text', name='tea_size', value= tea_size )
            div.form-group
                label.teaAttr(for='tea_cost') tea cost
                input#tea_cost(type='number', name='tea_cost', value= tea_cost )
            input(type="submit")
        script.
            document.forms['teaForm'].addEventListener('submit', (event) => {
            event.preventDefault();
                // TODO do something here to show user that form is being submitted
                fetch(event.target.action, {
                method: 'PUT',
                body: new URLSearchParams(new FormData(event.target)) // event.target is the form
                }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
                }).then((body) => {
                alert("Update succeded")
                // TODO handle body
                }).catch((error) => {
                // TODO handle error
                alert("Update failed " + error )
                 });
                });